* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    width: 1200px;
    margin: auto;
    color: #FFFFFF;
    background-color: #4B81A0;
    margin-top: 20%;
}